<h1>About DPL Store</h1>

<h3>What is Bacon Ipsum?</h3>
<p>
Simply put, it’s a take on the lorem ipsum filler text used when doing design mockups.  I was mocking up a web design one day and needed a few words to fill out a link.  “Lorem ipsum bacon” popped into my head, so I plugged that into my HTML.  Later that day, it hit me.  Make a lorem ipsum generator but use types and cuts of meat.
</p>
</br>

<h3>Is there a vegan version?</h3>
<p>
Yes!  I recommend and have frequently used the meat-free lorem ipsum generator at lipsum.com.  If you need some veggies, check out veggieipsum.com, or veganipsum.com.
</p>
