@import "bootstrap";

body {
  font-family: 'Helvetica neue';
  font-size: 16px;
  color: #5D67D4;
  background-color: gray;
}



.pt {
  margin: 20px;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
}

.flash-alert {
  padding: 10px;
  border: 1px solid #750202;
  color: #750202;
  font-size: 18px;
  background-color: #fcadad;
  font-weight: bold;
}

.flash-notice {
  padding: 10px;
  border: 1px solid #017505;
  color: #017505;
  font-size: 18px;
  background-color: #b5ffb2;
  font-weight: bold;

}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#main-content {
  background: rgba(250,250,250,0.5);
  padding: 20px;
  margin: 40px;
  border-radius: 25px;
}

ul#products {
  list-style: none;
}

ul#products li {
  margin-bottom: 5px;
}

ul#products li.odd {
  background-color: #eeeeee;
}

#left-column {
  float: left;
  width: 400px;
}

#right-column {
  float: right;
  width: 400px;
}


footer {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #aaaaaa;
  font-size: 14px;
}
